{% extends "base.html.twig"%}

{% block body %}
    <div class="jumbotron text-center"> 
        <h1>  Mon agence</h1>
        <p>  Bonjour je suis sur Symfony4 </p>
    </div>
        
{% endblock %}
