<html>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Template Email-HTML</title>
   <body style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; font-family: Trebuchet MS, Arial, Verdana, sans-serif;">
      <!-- Start Main Table -->
      <table width="100%" height="100%" cellpadding="0" style="padding: 20px 0px 20px 0px" background="http://www.webdesignweb.fr/sources/email-html/img/img_home3.jpg" >
      <tr align="center">
         <td>
            <table>
               <tr>
                   {{ contact.momom }}
                  <td>
                     <span style="font-size:10px; color:#000;">
                        Si cet email ne s'affiche pas correctement, 
                        <a href="http://www.webdesignweb.fr/sources/email-html/index.html" target="_blank" style="font-size:10px; color:#22baba;">
                           cliquez-ici
                     </span>
                  </td>
               </tr>
            </table>
            <!-- Start Header -->
            <table style="width:580px; height:108px;" background="http://www.webdesignweb.fr/sources/email-html/img/haut.jpg" border="0">
            <tr>
            <td valign="top" style="width:456px;">
            <h1 style="font-size:22px; color:#22baba;margin-left:20px; margin-top:26px;">Email HTML WebDesignWeb</h1>
            </td>
            <td valign="top">
            <p style="color:#aeaeae; font-size:11px; margin-top:34px;">publié 28 Juin 2011</p>
            </td>
            </tr>
            </table>
            <!-- fin header -->
            <!-- start image -->
            <table cellpadding="0" cellspacing="0" width="580" background="http://www.webdesignweb.fr/sources/email-html/img/1px.png" style="padding:0px 0px 0px 0px;">
            <tr>
            <td>
            <a href="http://www.webdesignweb.fr" target="_blank"><img src="http://www.webdesignweb.fr/sources/email-html/img/macbookpro.jpg" width="500" height="332" style="border:none;margin-left:60px;" /></a>
            </td>
            </tr>
            </table>
            <!-- end image -->
            <!-- start texte -->
            <table cellpadding="0" cellspacing="0" width="580" background="http://www.webdesignweb.fr/sources/email-html/img/1px.png" style="padding:30px 0px 0px 0px;">
               <tr>
                  <td valign="top" style="color:#808080; font-size:11px; padding:0px 39px 0px 47px; text-align:justify; line-height:25px;">
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The poin t of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors.</p>
                  </td>
                  <td>
                     <a href="http://www.webdesignweb.fr" target="_blank"><img src="http://www.webdesignweb.fr/sources/email-html/img/imac.jpg" width="230" height="162" style="border:none;margin-left:0px;" /></a>
                  </td>
               </tr>
            </table>
            <!-- end texte -->
            <!-- start texte -->
            <table cellpadding="0" cellspacing="0" width="580" background="http://www.webdesignweb.fr/sources/email-html/img/1px.png" style="padding:30px 0px 40px 0px;">
               <tr>
                  <td>
                     <a href="http://www.webdesignweb.fr" target="_blank"><img src="http://www.webdesignweb.fr/sources/email-html/img/ipad.jpg" width="208" height="219" style="border:none;margin-left:70px;" /></a>
                  </td>
                  <td valign="top" style="color:#808080; font-size:11px; padding:0px 18px 0px 19px; text-align:justify; line-height:25px;">
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The poin t of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors. The poin t of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                  </td>
               </tr>
            </table>
            <!-- end texte -->
            <!-- début footer -->
            <table style="width:580px; height:148px;" width="580" cellpadding="0" cellspacing="0" background="http://www.webdesignweb.fr/sources/email-html/img/bas.jpg" style="padding:0px 0px 0px 0px;">
               <tr>
                  <td>
                     <a href="http://www.webdesignweb.fr" target="_blank" style="margin-left: 107px;border:none;"><img src="http://www.webdesignweb.fr/sources/email-html/img/rond.jpg" style="border:none" width="132" height="131" /></a>
                  </td>
                  <td>
                     <a href="http://twitter.com/#!/stratweb" style="border:none" target="_blank"><img src="http://www.webdesignweb.fr/sources/email-html/img/twitter.jpg" width="52" height="41"  style="border:none" /></a>
                     <a href="https://www.facebook.com/pages/stratisbakascom/127543690653530?sk=wall" target="_blank" style="margin-left: 17px; border:none;"><img src="http://www.webdesignweb.fr/sources/email-html/img/fb.jpg" style="border:none" width="52" height="44" /></a>
                  </td>
               </tr>
            </table>
            <!-- fin du footer -->
   </body>
</html>