{% extends "base.html.twig"%}

{% block title "Voire nos bien" %}

{% block body %}
    <div class="container"> 
        <h1>  Voire nos bien</h1>
        <p>   </p>
    </div>
        
    
    

{% endblock %}
